<!DOCTYPE html>
<html>
  <head>
    <title>Online-store</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <div class="container py-3">
      <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">Online-store</span>
          </a>

          <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            {% block admin %}
            <a class="me-3 py-2 text-dark text-decoration-none" href="admin/">Admin's panel</a>
            {% endblock %}
            <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'landing-page' %}">Pricing</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'meow' %}">meow</a>
          </nav>
        </div>
        {% block mini_content %}{% endblock %}
      </header>
    {% block content %}{% endblock %}
    </div>
  </body>
</html>