<!DOCTYPE html>
<html>
  <head>
    <title>Buy</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
    {% csrf_token %}
  </head>
  <body>
      <section class="btn btn-primary">
        <h2>{{ product.name }}</h2>
        <br></br>
        <h6>{{ product.description }}</h6>
        <form action="{% url 'buy' product.id %}" method="POST" headers="X-CSRFToken">
          <button type="submit" class="btn btn-success">Buy</button>
          {% csrf_token %}
        </form>
      </section>
  </body>
</html>